<%= form_tag(tasks_path, method: "get") do %>
  <div class="row">
    <form class="col s3" id="new-filter-by">
      <div class="row">
        <div class="row">
          <div class="input-field col s2">
            <%= label_tag(:username, "Username?") %>
            <%= text_field_tag(:username) %>
          </div>
          <div class="input-field col s2">
            <%= label_tag(:location, "Location?") %>
            <%= text_field_tag(:location) %>
          </div>
          <div class="input-field col s2">
            <%= label_tag(:title, "Task title?") %>
            <%= text_field_tag(:title) %>
          </div>
           <div class="input-field col s2">
            <%= label_tag(:difficulty, "Task difficulty?") %>
            <%= text_field_tag(:difficulty) %>
          </div>
          <div class="input-field col s4">
            <input name="chronology" type="radio" id="newest_first" value="newest_first"  /> 
            <label for="newest_first">Newest First</label>
            <input name="chronology" type="radio" id="oldest_first" value="oldest_first"  /> 
            <label for="oldest_first">Oldest First</label>
          </div>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">
        <%= submit_tag("Filter tasks", name: nil) %>
      </button>
    </form>
  </div>
<% end %>
