<%= form_tag(tasks_path, method: "get") do %>
  <div class="row">
    <form class="col s12" id="new-filter-by" style="z-index:1;">
      <div class="row">
        <div class="row">
          <div class="input-field col s2">
            <%= label_tag :query, "<i class='material-icons'>search</i>".html_safe %>
            <%= search_field_tag :query, nil, placeholder: 'Search NEEDS' %>
          </div>
          <div class="input-field col s2">
            <%= label_tag :username, "<i class='material-icons'>search</i>".html_safe  %>
            <%= search_field_tag :username, nil, placeholder: 'need by user' %>
          </div>
          <button id="search-button" class="input-field col btn waves-effect waves-light" type="submit" name="action">
            <%= submit_tag("Filter tasks", name: nil, id: 'search-button') %>
          </button>
          <div class="input-field col s3 hide-on-med-and-down" id="diff-radio-btn-align">            
            <%= radio_button_tag :difficulty, "easy" %>
            <%= label_tag(:difficulty_easy, "Easy", class: "task-index-filter-diff-label") %>
            <%= radio_button_tag :difficulty, "medium" %>
            <%= label_tag(:difficulty_medium, "Medium", class: "task-index-filter-diff-label") %>
            <%= radio_button_tag :difficulty, "hard" %>
            <%= label_tag(:difficulty_hard, "Hard", class: "task-index-filter-diff-label") %>
          </div>
          <div class="input-field col s2 hide-on-med-and-down">
            
            
            <!-- Dropdown Trigger -->
          <a id="dropdown-nav2" class="dropdown-button" href="#!" data-activates="dropdown2">by date<i id="dropdown-icon" class="material-icons">arrow_drop_down</i></a>
            <ul id="dropdown2" class="dropdown-content">
              <%= radio_button_tag :chronology, "newest_first" %>
              <%= label_tag(:chronology_newest_first, "newest") %>
              <%= radio_button_tag :chronology, "oldest_first" %>
              <%= label_tag(:chronology_oldest_first, "oldest") %>
            </ul>
          </div> 
        </div>
      </div>
    </form>
  </div>
<% end %>
