  <head>
  <style type="text/css">
    #map {
      position: absolute;
      height: 75%;
      width: 89%;
    }
  </style>
</head>
<div class="container ">
  <div class="background-show-page">
    <div class="container" style="width:90%;" id= "task-show-align-text">
      <h3 class="show-label"><%= @task.title %></h3>
        <div class="row">
        <% if @task.needed_id == nil %>
        <!-- if TASK.NEEDED_ID is not present, then continue displaying the number of request and who has requested the task -->
          <div class="top-content col s6">
            <div class="row">
              <img class="task-image" src="<%= @task.image_url %>"/>
              <p>Needy user: <%= link_to @task.user.full_name, user_path(@task.user_id) %></p>
              <p>Needed user: Pending requests (<%= @all_requests.length %>)</p>
            </div>
          </div>
          <div class="top-content col s6">
            <div class="card medium">
              <div id="map-container" class="card-image waves-effect waves-block waves-light"></div>
              <div class="card-content">
                <p><%= link_to "See Task Map", map_tasks_path %></p>
                <div id="map"></div>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
          <div class="row task-icons">
            <div id="task-details-card" class="card blue-grey darken-1 col s12">
              <div class="col s3">
                <i class="material-icons large">tune</i>
                <p><%= @task.difficulty %></p>
              </div>
              <div class="col s3">
                <i class="material-icons large">alarm_on</i>
                <p><%= @task.due_date.strftime("%a %m/ %d/ %y") %></p>
              </div>
              <div class="col s3">
                <i class="material-icons large">restore</i>
                <p><%= @task.estimated_duration %><!-- dynamic minutes, hours, days based on form input --></p>
              </div>
              <div class="col s3 modal-trigger1" data-target="modal3" id="compensation-trigger">
                <i class="material-icons large ">redeem</i>
                <p>View Compensation</p>
                <div id="modal3" class="modal modal-footer">
                  <div class="modal-content">
                    <h4>Compensation</h4>
                    <p>
                      In exchange for completing this task you can expect to receive the following rewards:
                    </p>
                      <div><%= @task.compensation %></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <h5 class="show-label">Description: </h5> <h5 class="description"><%= @task.description %></h5>
            </div>
            <div class="col s6 task-request-approve-div">
              <p>There are currently <%= @all_requests.count %> users requesting to do this task.</p>
              <% @all_requests.each do |r| %>
                <div class="chip">
                  <%= link_to User.find(r.user_id).full_name, user_path(r.user_id) %></p>
                </div>
              <% end %>
              <!-- Radio button select to approve one of the people requesting to do the task -->
              <% if current_user.id == @task.user_id %>
                <p>Select one of the Needed's below to approve their request!</p>
                <%= form_for @task do |f|%>
                  <% @all_requests.each do |r| %>
                    <p class="task-show-push-right">
                      <input name="needed_id" type="radio" id="<%= r[:user_id] %>" value="<%= r[:user_id] %>"  /> 
                      <label for="<%= r[:user_id] %>"><%= r.user.full_name %></label>
                    </p>
                  <% end %>
                    <%= f.submit("Approve Request", name: nil, class: "btn waves-effect waves-light", id: "task-show-approve-user-btn") %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% else %>
        <!-- if TASK.NEEDED_ID is present -->
          <div class="top-content col s6">
            <div class="row">
              <img class="task-image" src="<%= @task.image_url %>"/>
              
              <% if @task.user_id && @task.needed_id %>
                <!-- <div class="chip-task-names"> -->
                  <p>Needy user: <%= link_to User.find(@task.user_id).full_name, user_path(@task.user_id) %></p>
                <!-- </div><br> -->
                <!-- <div class="chip-task-names"> -->
                  <p>Needed user: <%=  link_to User.find(@task.needed_id).full_name, user_path(@task.needed_id) %></p>
                <!-- </div>  -->
              <% else %>
                <!-- <div class="chip-task-names"> -->
                  <p>Needy user: <%= User.find(@task.user_id).full_name %></p>
                <!-- </div> -->
                <div class="chip-task-names">
                  <p>Needed user: Pending requests (<%= @all_requests.length %>)</p>
                </div>
              <% end %>
            </div>
            <% if (@task.incomplete == false) %>
            <!-- MARK AS COMPLETE buttons -->
              <!-- current user is task poster or needed user and they have not marked complete -->
              <% if (current_user.id == @task.user_id && @task.needy_confirm_completion == false) && (@task.incomplete == false) %>
                <%= form_for @task do |f| %>
                  <%= f.hidden_field :needy_confirm_completion, value: true %>
                  <button class="btn waves-effect waves-light" id="complete-btn" type="submit" name="action">
                    <%= f.submit("Complete", name: nil) %>
                  <i class="material-icons right">done</i>
                  </button>
                <% end %>
                <%= form_for @task do |f| %>
                  <%= f.hidden_field :incomplete, value: true %>
                  <%= f.hidden_field :incomplete_by, value: @task.user_id %>
                  <button class="btn waves-effect waves-light" id="incomplete-btn" type="submit" name="action">
                    <%= f.submit("Incomplete", name: nil) %>
                  <i class="material-icons">warning</i>
                <% end %>
                              <!-- if the opposing user has marked the task complete -->
                <% if (@needed_confirm_completion == true) %>
                  <h6 class="show-label">Task Marked complete by: </h6><%= User.find(@task.needed_id).full_name %>
                <% end %>
              <% elsif (current_user.id == @task.needed_id && @task.needed_confirm_completion == false) && (@task.incomplete == false) %>
                <%= form_for @task do |f| %>
                  <%= f.hidden_field :needed_confirm_completion, value: true %>
                  <button class="btn waves-effect waves-light" id="complete-btn" type="submit" name="action">
                    <%= f.submit("Complete", name: nil) %>
                  <i class="material-icons right">done</i>
                  </button>
                <% end %>
                <%= form_for @task do |f| %>
                  <%= f.hidden_field :incomplete, value: true %>
                  <%= f.hidden_field :incomplete_by, value: @task.needed_id %>
                  <button class="btn waves-effect waves-light" id="incomplete-btn" type="submit" name="action">
                    <%= f.submit("Incomplete", name: nil) %>
                  <i class="material-icons">warning</i>
                <% end %>
                              <!-- if the opposing user has marked the task complete -->
                <% if (@needy_confirm_completion == true) %>
                  <h6 class="show-label">Task Marked complete by: </h6><%= User.find(@task.user_id).full_name %>
                <% end %>
                              <!-- if the current user has marked completion but opposing user has not -->
              <% elsif (current_user.id == @task.needed_id) && (@task.needed_confirm_completion && @task.needy_confirm_completion == false) %>
                <h6 class="show-label">You have marked this task complete</h6>
                <h6 class="show-label">Approval pending from: </h6><%= User.find(@task.user_id).full_name %>
              <% elsif (current_user.id == @task.user_id && @task.needy_confirm_completion && @task.needed_confirm_completion == false) %>
                <h6 class="show-label">You have marked this task complete</h6>
                <h6 class="show-label">Approval pending from: </h6><%= User.find(@task.needed_id).full_name %>
              <% elsif (@task.needed_confirm_completion && @task.needy_confirm_completion) %>
                <h5 class="show-label-green">Task Complete!</h5>
              <% end %>     
            <% else %>
              <h6 class="show-label-red">TASK MARKED INCOMPLETE BY: </h6><%= User.find(@task.incomplete_by).full_name %>
            <% end %>
            <!-- conditionals for shown status of task if current user is not involved -->
            <% if (current_user.id != @task.user_id) && (current_user.id != @task.needed_id) %>
              <% if (@task.needed_confirm_completion && @task.needy_confirm_completion == false) %>
                <h6 class="show-label">Task Marked complete by: </h6><%= User.find(@task.needed_id).full_name %>
                <h6 class="show-label">Task completion pending approval of: </h6><%= User.find(@task.user_id).full_name %>

              <% elsif (@task.needy_confirm_completion && @task.needed_confirm_completion == false) %>
                <h6 class="show-label">Task Marked complete by: </h6><%= User.find(@task.user_id).full_name %>
                <h6 class="show-label">Task completion pending approval of: </h6><%= User.find(@task.needed_id).full_name %>

              <% elsif (@task.needed_confirm_completion && @task.needy_confirm_completion) %>
                <h6 class="show-label">TASK COMPLETE!</h6>
        
              <% elsif (@task.incomplete == true && !@task.incomplete_by.blank?) %>
                <h5 class="show-label-red">Task marked incomplete by <%= User.find(@task.incomplete_by).full_name %></h5>            
              <% end %>
            <% end %>
          </div>


<!-- IF Needed ID is present and task is ready to be completed -->

          <div class="top-content col s6">
            <div class="card medium">
              <div id="map-container" class="card-image waves-effect waves-block waves-light"></div>
              <div class="card-content">
                <p><%= link_to "See Task Map", map_tasks_path %></p>
                <div id="map"></div>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
          <div class="row task-icons">
            <div id="task-details-card" class="card blue-grey darken-1 col s12">
              <div class="col s3">
                <i class="material-icons large">tune</i>
                <p><%= @task.difficulty %></p>
              </div>
              <div class="col s3">
                <i class="material-icons large">alarm_on</i>
                <p><%= @task.due_date.strftime("%a %m/ %d/ %y")  %></p>
              </div>
              <div class="col s3">
                <i class="material-icons large">restore</i>
                <p><%= @task.estimated_duration %></p>
              </div>
              <div class="col s3 modal-trigger1" data-target="modal3" id="compensation-trigger">
                <i class="material-icons large ">redeem</i>
                <p>View Compensation</p>
                <div id="modal3" class="modal modal-footer">
                  <div class="modal-content">
                    <h4>Compensation</h4>
                    <p>
                      In exchange for completing this task you can expect to receive the following rewards:
                    </p>
                      <div><%= @task.compensation %></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!-- show REQUEST or REVIEW button depending on state of the task  -->
      <% if (current_user.id != @task.user_id) && (@task.needed_id == nil) && Request.where(user_id: current_user.id, task_id: @task.id).blank? %>
        <div class="row">
          <div class="col s6 hidden-element"><h1></h1></div>
            <div class="col s6 center-align">
              <div class="need-me-btn">
                <!-- prevent duplicate requests from same user -->
                <% if Request.where(task_id: @task_id).blank? %>
                  <%= form_for @request do |f| %>
                    <%= f.hidden_field :user_id,:value=> current_user.id %>
                    <%= f.hidden_field :task_id,:value=> @task.id %>
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                    <%= f.submit %>
                    </button>
                  <% end %>
                <% end %>
              </div>
            </div>
        </div>
        <!-- bring up the REVIEW button if the task has both is PENDING-->
      <% elsif @task.needed_id %>     
        <div class="row">
          <div class="col s6">
            <h5 class="show-label">Description: </h5><h5 class="description"><%= @task.description %></h5>
          </div>
          <div class="col s6">
            <button id="show-review" class="btn waves-effect waves-light" type="submit" name="action">Review Experience<i class="material-icons right">mode_edit</i></button>
            <div id="review" class="hide-form">
              <div class="center-transparent col s12">
                <!-- if CURRENT USER is not the POSTER of the TASK, BUT was the NEEDED USER -->
                <%= render 'tasks/review' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if (current_user.id == @task.user_id || current_user.id == @task.needed_id) %>
      <%= render 'layouts/chatBox' %>
    <% end %>
  <% end %>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZQ0u0B58kHdvch8UmNPY6jMM3L4n9fJc&callback=initMap"></script>






