<div class="container" id="users-index">
  <h3>USERS</h3>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col s4">
        <div class="index-card card small">
          <div class="card-image waves-effect waves-block waves-light activator">
            <img class="activator responsive-img"><%= image_tag(user.profile_image_url, class: "activator")  %>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= link_to user.username, user_path(user) %><i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= user.username %><i class="material-icons right">close</i></span>
            <p class="card-attr"><span>First Name: </span><%= user.first_name %></p>
            <p class="card-attr"><span>Last Name: </span><%= user.last_name %></p>
            <p class="card-attr"><span>Needy Rating: </span><%= user.needy_rating %></p>
            <p class="card-attr"><span>Needed Rating: </span><%= user.needed_rating %></p>
            <p class="card-attr"><span>City: </span><%= user.city %></p>
            <p class="card-attr"><span>Skills: </span><%= user.skills %></p>
            <p class="card-attr"><span>Bio: </span><%= user.bio %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
