<div class="container">
<div class="background-show-page">
    <h4 class="show-label"><%= @user.username %></h4>
    <div class="row">
        <%= image_tag(@user.profile_image_url, class: "profile-image") %>   
    </div>
    <div class="row">
      <div class="col s6">
        <h6 class="show-label">NAME</h6>
        <%= @user.first_name %> <%= @user.last_name %>
      </div>
    </div>
    <div class="row">
      <div class="col s6" style="padding-left: 30px;">
        <div class="row">
          <h6 class="show-label">SKILLS</h6>
          <%= @user.skills %>
        </div>
        <div class="row">
          <h6 class="show-label">NEED IT RATING</h6>
          <%= @user.needy_rating %>
        </div>
        <div class="row">
          <h6 class="show-label">NEEDED RATING</h6>
          <%= @user.needed_rating %>
        </div>
        <div class="row">
          <h6 class="show-label">EMAIL</h6>
          <%= @user.email %>
        </div>
      <div class="col s12">
        <h6 class="show-label">BIO</h6>
        <%= @user.bio %>
      </div>  
      </div>
    </div>
  </div>
</div>