<div class="container">
  <div class="background-show-page">
    <div class="container">
      <h4 class="show-label"><%= @user.username %></h4>
      <div class="row">
        <div class="col s6">
          <%= image_tag(@user.profile_image_url, class: "profile-image") %>
        </div>   
        <div class="col s6">
          <div class="row">
            <h6 class="show-label">SKILLS</h6>
            <%= @user.skills %>
          </div>
          <div class="row">
            <h6 class="show-label">NEED IT RATING</h6>
            <%= @user.needy_rating %>
          </div>
          <div class="row">
            <h6 class="show-label">NEEDED RATING</h6>
            <%= @user.needed_rating %>
          </div>
          <div class="row">
            <h6 class="show-label">EMAIL</h6>
            <%= @user.email %>
          </div>
          <div class="row">
            <div id="show-edit-profile" class="btn-floating btn-large waves-effect waves-light blue btn tooltipped btn modal-trigger" data-delay="50" data-tooltip="Edit Profile" data-target="modal1">
              <i class="material-icons">mode_edit</i>
            </div>
            <div id="modal1" class="modal">
              <div id="edit-profile" class="hide-form">
                <%= render 'users/edit_form' %>
              </div>
            </div>
            <div id="delete-profile" class="btn-floating btn-large waves-effect waves-light red btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete Profile">
              <i class="material-icons">delete</i> <!-- still need to add functionality -->
            </div> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <h6 class="show-label">NAME</h6>
          <%= @user.first_name %> <%= @user.last_name %>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h6 class="show-label">BIO</h6>
          <%= @user.bio %>
        </div>  
      </div>
      <div class="row">
        <div class="col s6">
          <h6 class="show-label">TASKS ACCEPTED<small> (<%= @tasks.count %>)</small></h6><br>
          <% @tasks = @tasks.where(needed_id: @user.id) %>
          <% @tasks.each do |task| %>
            <%= link_to "#{task.title}", task_path(task.id) %>
          <% end %>
        </div>
        <div class="col s6">
          <% @tasks = @tasks.where(@user.id) %> 
          <% @tasks = @tasks.where(needy_confirm_completion: true, needed_confirm_completion: true) %>
          <h6 class="show-label">TASKS COMPLETED<small> (<%= @tasks.count %>)</small></h6><br>
          <% @tasks.each do |task| %>
            <%= link_to "#{task.title}", task_path(task.id) %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <h6 class="show-label">REVIEWS by <%= @user.username %></h6>
            <% @reviews = @reviews.where(for_user: @user.id) %>
            <% @reviews.each do |review| %>
              <% if review.user_id == @user.id %>
                <a class="reviews-by-user collection-item"><%= Task.find(review.task_id).title %></a>
              <% end %>
            <% end %>
        </div>
        <div class="col s6">
          <h6 class="show-label">REVIEWS for <%= @user.username %></h6><br>
            <% @reviews = @reviews.where(for_user: @user.id) %>
            <% @reviews.each do |review| %>
              <% if review.for_user == @user.id %>
                <a class="reviews-for-user"><%= Task.find(review.task_id).title %></a>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
