<div class="container">
  <div class="background-show-page">
    <div class="container">
      <h4 class="show-label" id="profile-username-header"><%= @user.username %></h4>
      <div class="row">
        <div class="col s6">
        <img class="profile-image" src="<%= (@user.profile_image_url) %>">
        </div>   
        <div class="col s6" id="profile-rating-col">
          <div class="row">
            <h6 class="show-label">SKILLS</h6>
            <%= @user.skills %>
          </div>
          <div class="row">
            <h6 class="show-label">NEED IT RATING</h6>
            <%= @user.needy_rating %>
          </div>
          <div class="row">
            <h6 class="show-label">NEEDED RATING</h6>
            <%= @user.needed_rating %>
          </div>
          <div class="row">
            <h6 class="show-label">EMAIL</h6>
            <%= @user.email %>
          </div>
          <div class="row">
            <div id="show-edit-profile" class="btn-floating btn-large waves-effect waves-light blue btn tooltipped btn modal-trigger" data-delay="50" data-tooltip="Edit Profile" data-target="modal1">
              <i class="material-icons">mode_edit</i>
            </div>
            <div id="modal1" class="modal">
              <div id="edit-profile" class="hide-form">
                <%= render 'users/edit_form' %>
              </div>
            </div>
            <div id="delete-profile" class="btn-floating btn-large waves-effect waves-light red btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete Profile">
              <i class="material-icons">delete</i> <!-- still need to add functionality -->
            </div> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <h6 class="show-label">NAME</h6>
          <%= @user.first_name %> <%= @user.last_name %>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h6 class="show-label">BIO</h6>
          <%= @user.bio %>
        </div>  
      </div>
      <div class="row align-the-element">
        <div class="col s4"> 
          <% @tasks = Task.where(user_id: @user.id) %>
          <h6 class="show-label">TASKS POSTED<small> (<%= @tasks.count %>)</small></h6><br>
          <% @tasks.each do |task| %>
            <% if task.needy_confirm_completion == true && task.needed_confirm_completion == true %>
              <div class="chip accepted-background-color">
                <%= link_to "#{task.title}", task_path(task.id) %>
                <i class="material-icons">close</i>
              </div>
            <% else %>
              <div class="chip">
                <%= link_to "#{task.title}", task_path(task.id) %>
                <i class="material-icons">close</i>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="col s4">
          <% @tasks = Task.where(needed_id: @user.id) %>
          <h6 class="show-label">TASKS ACCEPTED<small> (<%= @tasks.count %>)</small></h6><br>
          <% @tasks.each do |task| %>
            <% if task.needy_confirm_completion == true && task.needed_confirm_completion == true %>
              <div class="chip accepted-background-color">
                <%= link_to "#{task.title}", task_path(task.id) %>
                <i class="material-icons">close</i>
              </div>
            <% else %>
              <div class="chip">
                <%= link_to "#{task.title}", task_path(task.id) %>
                <i class="material-icons">close</i>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="col s4">
          <% @task_needed = Task.where(needed_id: @user.id, incomplete: true) %>
          <% @task_user = Task.where(user_id: @user.id, incomplete: true) %>
          <% @tasks = @task_needed + @task_user %>
          <h6 class="show-label">TASKS INCOMPLETE<small> (<%= @tasks.count %>)</small></h6><br>
          <% @tasks.each do |task| %>
            <div class="chip incomplete-background-color">
              <%= link_to "#{task.title}", task_path(task.id) %>
              <i class="material-icons">close</i>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row align-the-element">
        <div class="col s6">
          <h6 class="show-label">REVIEWS by <%= @user.username %></h6><br>
            <% @reviews = Review.where(user_id: @user.id) %>
            <% @reviews.each do |review| %>
              <% if review.user_id == @user.id %>
                <div class="chip review-tag-spacer">
                  <a class="user-reviews-tags" style="cursor: pointer">
                    <%= review.task.title %> <a class="user-reviews-tags" style="cursor: pointer">
                    <%= review.task.title %> 
                    <% if review.user_rating >= 0 %>
                      <small class="user-show-rating-positive">(<%= review.user_rating %>/5)</small>
                    <% else %>
                      <small class="user-show-rating-negative">(<%= review.user_rating %>/5)</small>
                    <% end %>
                  </a>
                  <i class="material-icons">close</i>
                  <div class="hide-form reviews-modal">
                    <div class="center-transparent col s12 user-profile-review-modal">
                      <div class="col s12">
                        <p class="review-title"><%= review.content %> (<%= review.user_rating %>/5) - <small><%= review.user.username %></small></p>
                        <%= link_to "Show Task", task_path(review.task.id) %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
        </div>
        <div class="col s6">
          <h6 class="show-label">REVIEWS for <%= @user.username %></h6><br>
            <% @reviews = Review.where(for_user: @user.id) %>
            <% @reviews.each do |review| %>
              <% if review.for_user == @user.id %>
                <div class="chip review-tag-spacer">
                  <a class="user-reviews-tags" style="cursor: pointer">
                    <%= review.task.title %> 
                    <% if review.user_rating >= 0 %>
                      <small class="user-show-rating-positive">(<%= review.user_rating %>/5)</small>
                    <% else %>
                      <small class="user-show-rating-negative">(<%= review.user_rating %>/5)</small>
                    <% end %>
                  </a>
                  <i class="material-icons">close</i>
                  <div class="hide-form reviews-modal">
                    <div class="center-transparent col s12 user-profile-review-modal">
                      <div class="col s12">
                        <p class="review-title"><%= review.content %> (<%= review.user_rating %>/5) - <small><%= review.user.username %></small></p>
                        <%= link_to "Show Task", task_path(review.task.id) %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
