<%= form_tag user_sessions_path, :method => :post do %>
  <h4 class="show-label"></h4>
  <div class="input-field col s6">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="input-field col s6">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="input-field col s4">
    <div class="actions">
      <button class="waves-effect waves-light btn"><%= submit_tag "Login" %></button>
    </div>
  </div>
<% end %>

  </div>
</div>