<nav style="background-color: #fff9c4; -moz-box-shadow: 0px 0px 0px #000000;
-webkit-box-shadow: 0px 0px 0px #000000;
box-shadow: 0px 0px 0px #000000; width:18%;">
  <ul id="slide-out" class="side-nav fixed">
    <li class="logo">
      <img id="needy-logo" src="http://www.logowallpaper.net/wp-content/uploads/2014/12/play-doh_logo.jpg">
      <a id="logo-container" href="#" class="brand-logo"></a>
      <div>
        <p id="notice"><%= flash[:notice] %></p>
        <p id="alert"><%= flash[:alert] %></p>
      </div>
    </li>
    <% if current_user %>
    <li class="bold">
      <div class="waves-effect waves-light btn-large nav-button"><%= link_to "Logout", :logout, method: :post %>
    </div></li>
    <% else %>
    <li class="bold">
      <div id="register" class="waves-effect waves-light btn-large nav-button">Sign Up!</div>
    </li>
    <li class="bold">
      <div id="show-login" class="waves-effect waves-light btn-large nav-button">Login
      <i class="material-icons">settings_input_component</i></div>
    </li>
    <% end %>
    <% if current_user %>
      <li class="bold">
        <div id="show-profile" class="waves-effect waves-light btn-large nav-button"><%= link_to "Profile", user_path(current_user) %></div>
      </li>
    <% end %>
    <li class="bold">
      <div class="waves-effect waves-light btn-large nav-button"><%= link_to "Needers", users_path %></div>
    </li>
    <li class="bold">
      <div class="waves-effect waves-light btn-large nav-button"><%= link_to "Needs", tasks_path %></div>
    </li>
    <li class="bold">
      <div id="task-form" class="waves-effect waves-light btn-large nav-button">Post A Need</div>
    </li>
    <li class="bold">
      <div class="waves-effect waves-light btn-large nav-button"><%= link_to "Map", map_tasks_path %>
    </li>

  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse" style="background-color: #81d4fa;"><i class="mdi-navigation-menu"></i></a>
</nav>

<script>
// Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  // $('.collapsible').collapsible();
  
  </script>
<div class="overlay">
</div>

<!-- <div id="profile" class="hide-form">
  <% @user = current_user %>

</div> -->

<div id="signup-form" class="hide-form">
  <div class="center-transparent col s4">
    <% @user = User.new %>
    <%= render "users/create_form" %>
  </div>
</div>

<div id="login-form" class="hide-form">
  <div class="center-transparent col s4">
    <%= render "user_sessions/form" %>
  </div>
</div>

<div id='post-task' class="hide-form">
  <div class="center-transparent col s4">
    <% if current_user %>
      <% @task = Task.new %>
      <%= render "tasks/form_new" %>
    <% else %>
      <h6 class="error-field">You must be logged in!</h6>
      <%= render "user_sessions/form" %>
    <% end %>
  </div>
</div>


