  <nav style="background-color: #fff9c4; -moz-box-shadow: 0px 0px 0px #000000;
-webkit-box-shadow: 0px 0px 0px #000000;
box-shadow: 0px 0px 0px #000000; width:0%;" class="" id="navbar">
  <ul id="slide-out" class="side-nav fixed">
    <li class="logo">
      <img id="needy-logo" src='<%= image_path('rob_logo.png') %>'>
      <div>
        <p id="notice" style="color:red;"><%= flash[:notice] %></p>
        <p id="alert" style="color:red;"><%= flash[:alert] %></p>
      </div>
    </li>
    <% if current_user %>
    <li class="bold">
      <div class="waves-effect waves-light btn-large nav-button"><%= link_to "Logout", :logout, method: :post %>
    </div></li>
    <li class="bold">
      <div id="show-user-tasks" class="waves-effect waves-light btn-large nav-button">My Tasks
    </div></li>
    <% else %>
    <li class="bold">
      <div class="waves-effect waves-light btn-large nav-button register">Sign Up!</div>
    </li>
    <li class="bold">
      <div class="waves-effect waves-light btn-large nav-button show-login">Login
      <i class="material-icons">settings_input_component</i></div>
    </li>
    <% end %>
    <% if current_user %>
      <li class="bold">
        <div id="show-profile" class="waves-effect waves-light btn-large nav-button"><%= link_to "Profile", user_path(current_user) %></div>
      </li>
    <% end %>
    <li class="bold">
      <div id="show-users" class="waves-effect waves-light btn-large nav-button">Needers</div>
    </li>
    <li class="bold">
      <div id="show-all-needs" class="waves-effect waves-light btn-large nav-button">All Needs</div>
    </li>
    <li class="bold">
      <div id="task-form" class="waves-effect waves-light btn-large nav-button">Post A Need</div>
    </li>
    <li class="bold">
      <div class="waves-effect waves-light btn-large nav-button"><%= link_to "Map", map_tasks_path %>
    </li>

  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse" style="background-color: #81d4fa;"><i class="mdi-navigation-menu"></i></a>
</nav>

<div id="show-navbar">
<!-- use later to show hidden nav bar -->
</div>

<script>
// Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  // $('.collapsible').collapsible();
  
  </script>
<div class="overlay">
</div>

<!-- <div id="profile" class="hide-form">
  <% @user = current_user %>

</div> -->


<!-- show signup form -->
<div id="signup-form" class="hide-form">
  <div class="center-transparent col s4">
    <% @user = User.new %>
    <%= render "users/create_form" %>
  </div>
</div>

<!-- show login -->
<div id="login-form" class="hide-form">
  <div class="center-transparent col s4">
    <%= render "user_sessions/form" %>
  </div>
</div>

<!-- show users index -->
<div id="users" class="hide-form">
  <% @users = User.all %>
  <%= render 'users/index' %>
</div>

<!-- show tasks index -->
<div id="needs" class="hide-form">
  <% @tasks = Task.all %>
  <%= render 'tasks/index' %>
</div>

<!-- <div id="filter-by-form" class="hide-form">
  <div class="center-transparent col s4">
    <%= render 'tasks/filter_by' %>
  </div>
</div> -->

<!-- show task form -->
<div id='post-task' class="hide-form">
  <div class="center-transparent col s4">
    <% if current_user %>
      <% @task = Task.new %>
      <%= render "tasks/form_new" %>
    <% else %>
      <h6 class="error-field">You must be logged in!</h6>
      <%= render "user_sessions/form" %>
    <% end %>
  </div>
</div>

<!-- show user tasks -->
<div id="user-tasks" class="hide-form">
  <% if current_user %>
    <% @user_tasks = Task.where("user_id = 'current_user'") %>
    <%= render 'tasks/user_tasks' %>
  <% end %>
</div>




